body {
  font-size: 34px;
  font-family: Helvetica, Arial, Sans-Serif;
}

.wrapper {
  width: 70%;
  margin: 0 auto;
  text-align: center;
}

/*body {
    background-color: grey;
}*/

.search-form {
  border-radius: 12px;
  padding: 15px;
  background: #ed1c40;
}


img {
    width: 15%;
    height: auto;

}

.mainImage {
  min-height: 100px;
  min-width: 100px 
}

label {
  width: 40%;
  padding: 16px 8px;
  margin: 0 auto;
  margin-right: 10px;
}


.inside-wrapper {
  font-size: 20px;
}

.title {
font-size: 30px;
}

.info {
   font-size: 24px;
}

.data{
/*  display: inline-block;*/
float: left
}

.search-form select {
  font-size: 24px;
}

.search-form input {
  font-size: 18px;
  padding: 18px 18px;
  border: 5px solid white;
  border-radius: 4px;
}

.search-form button {
  cursor: pointer;
  border: 1px solid black;
  border-radius: 10px;
  background: #fff;
  padding: 10px 20px;
  font-size: 18px;
  font-weight: bold;
}


.wrapper{
  margin-top: 20px;
  border-collapse: collapse;
  width: 100%;
  font-size: 14px;
  table-layout: fixed;
  background: #fff;
}

.wrapper div,
.wrapper div,
.wrapper div {
  border: 1px solid black;
}

.wrapper div,
.wrapper div {
  padding: 5px 10px;
}
